<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
  <div class="container mt-5"> 
      <h1 class="text-center">Welcome, <%= user[0].first_name %></h1>
      <a href="/logout" class="btn btn-primary">Log out</a>
      
      <table class="table">
          <thead>
              <tr> 
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
     
      <% if(user!=1){%>
      <% for ( var key in user ){%> 
       <tr><td>
          <%= user[key].first_name %>
       </td>
       <td><%= user[key].last_name %></td>
      <td><%= user[key].email %></td></tr>
    </table>
      <% } %>
      <% }%>
  </div>
  
</body>
</html>